// ----------------------------------------------------------------------------
// This file contains CSS helper classes or extendable properties
// ----------------------------------------------------------------------------

%clearfix {
	content: "";
	clear: both;
	display: table;
}
