// ----------------------------------------------------------------------------
// This file contains all the variable accross styles
// ----------------------------------------------------------------------------

// Colors
// ----------------------------------------------------------------------------
$color-primary: #a3c627;
$color-dark: #123123;

// Font Family
// ----------------------------------------------------------------------------
$font-family-title: "Open Sans", sans-serif;
$font-family-body: "Open Sans", sans-serif;
